body {
    font-family : "Arial", sans-serif;
}
ul.main li {
    margin-bottom : .8em; 
}

hr {
    margin : 2em 0em;
}

h1 {
    font-weight : 700;
}

h2, h3 {
    font-weight : 600; 
}

.qawsedrftgyhujikolp {
    display : none;
}

#profile_pic {
    width: 300px;
}

/* journal name  */
#publications li i {
    font-weight: bold;
    color:rgb(160, 100, 0);
}

.note {
    color: #aaa;
}

.duration {
    display:inline-block; 
    min-width: 10em;
}
.affiliation {
    display:inline-block; 
    margin-left:2em;
    margin-top:.3em;
}

a {
    color: blue;
    font-weight: 500;
}

@media (min-width: 600px) {
    body {
        padding: 10px 50px;
    }
}
#eml::before, #loc::before, #twt::before {
    content: "";
    display: inline-block;
    vertical-align : middle;
    width: 1em;
    height: 1em;
    margin: 0em .6em 0em 1em;
    background-size: contain;
    background-repeat: no-repeat; 
}
#eml::before {
    background-image : url("img/mail.png");
}
#loc::before {
    background-image : url("img/mappin.png");
}
#twt::before {
    background-image : url("img/twitter.png");
}
