@font-face {
    font-family: "CMU Sans Serif";
    src: url("font/cmunss.ttf") format("truetype"); 
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: "CMU Sans Serif";
    src: url("font/cmunsi.ttf") format("truetype"); 
    font-weight: normal; 
    font-style: italic;
}
@font-face {
    font-family: "CMU Sans Serif";
    src: url("font/cmunsx.ttf") format("truetype"); 
    font-weight: bold; 
    font-style: normal;
}
@font-face {
    font-family: "CMU Sans Serif";
    src: url("font/cmunso.ttf") format("truetype"); 
    font-weight: bold; 
    font-style: italic;
}
html {
    border-top: 3px solid #007bbb;
}
body {
    font-family : "CMU Sans Serif", sans-serif;
    color: #111;
    background-color: #fff;
}
@media (min-width: 600px) {
    body {
        padding: 8px 50px;
    }
}

ul.main li {
    margin-bottom : .8em; 
}

hr {
    margin : 2em 0em;
}

h1 {
    font-family: 'CMU Sans Serif', sans-serif;
    font-weight : bold;
}
h2, h3 {
    font-family: 'CMU Sans Serif', sans-serif; 
    font-weight : bold; 
}

.qawsedrftgyhujikolp {
    display : none;
}

.pdf {
    font-weight: bold;
}

.tcol {
    color:rgb(160, 40, 0);
}

.note {
    color: #aaa;
}

.duration {
    text-decoration: underline;
}

a {
    color: blue;
    font-weight: 500;
}

#publications li i {
    font-weight: bold;
}

#profile_pic {
    width: 350px;
}

#eml::before, #loc::before, #twt::before {
    content: "";
    display: inline-block;
    vertical-align : middle;
    width: 1em;
    height: 1em;
    margin: 0em .6em 0em 1em;
    background-size: contain;
    background-repeat: no-repeat; 
}
#eml::before {
    background-image : url("img/mail.png");
}
#loc::before {
    background-image : url("img/mappin.png");
}
#twt::before {
    background-image : url("img/twitter.png");
}
