body {
    font-family : "Open Sans", Verdana, sans-serif;
}
ul li {
    margin-bottom : .8em; 
}

ul li i {
    font-weight : 600; 
}

hr {
    margin : 2em 0em;
}

h1 {
    font-weight : 700;
}

h2, h3 {
    font-weight : 600; 
}

.antispam {
    display : none;
}

#profile_pic {
    width: 300px;
}

.about_icon {
    width : .9em;
    margin: 0em .5em 0em 1em;
}

@media (min-width: 600px) {
    body {
        padding: 50px 100px;
    }
}
