
<section class="top-block">
<h2>Education and Experience</h2>
<ul class="ref-list">
    <li>
        <span class="duration">2020.04–Present:</span> 
        <span class="position">Assistant Professor</span>  (tenure-track) <br class="wide"> 
        Institute of Economic Research, Kyoto University</li>
    <li>
        <span class="duration">2016.10–2020.03:</span> 
        <span class="position">Assistant Professor</span> <br class="wide">
        <!-- Department of Civil and Environmental Engineering, <br class="wide"> -->
        School of Engineering, Tohoku University</li>
    <li>
        <span class="duration">2014.04–2016.09:</span> 
        <span class="position">Research Fellow (DC1)</span> <br class="wide"> 
        Japan Society for the Promotion of Science</li>
    <li>
        <span class="duration">2016.09:</span> 
        <span class="position">Ph.D. (Information Sciences)</span> <br class="wide">
        <!-- Department of Human-Social Information Sciences,<br class="wide">  -->
        Graduate School of Information Sciences, Tohoku University.<br class="wide">
        (Thesis supervisor: <a href="http://www.plan.civil.tohoku.ac.jp/~akamatsu/Akamatsu-E.htm">Takashi Akamatsu</a>)</li>
    <li>
        <span class="duration">2012.03:</span> 
        <span class="position">Bachelor of Engineering</span> <br class="wide">
        <!-- Department of Civil Engineering and Architecture, <br class="wide">  -->
        School of Engineering, Tohoku University</li>
    <li>
        <span class="duration">Mar. 2008:</span> 長野県松本深志高等学校 卒業</li>
</ul>
</section>