<nav class="site-nav">
    <div class="nav-container">
      <div class="site-title">
        <a href="/">Minoru Osawa</a>
      </div>
      <ul>
        <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
        <li><a href="/teaching.html" class="{% if page.url == '/teaching.html' %}active{% endif %}">Teaching</a></li>
        {% if page.url == '/posts/' or page.collection == 'posts' %}
          <li><a href="/posts/" class="{% if page.url == '/posts/' or page.collection == 'posts' %}active{% endif %}">Posts</a></li>
        {% endif %}
      </ul>
    </div>
</nav>