<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Minoru Osawa">
<meta name="description" lang="en" content="Minoru Osawa (大澤 実) is an assistant professor at Kyoto Institute of Economic Research (KIER), Kyoto University, Japan.">
<title>{{ page.title }}</title>
<link rel="icon" type="image/png" href="/assets/img/favicon.png">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/colors.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">