<h2>Education and Work Experiences</h2>
<ul class="ref-list">
    <li>
        <b>Apr. 2020 - Present:</b> 
        <span class="red-like">Assistant Professor</span>  (tenure-track). <br class="wide"> 
        Institute of Economic Research, Kyoto University</li>
    <li>
        <b>Oct. 2016 - Mar. 2020:</b> 
        <span class="red-like">Assistant Professor</span> (termed). <br class="wide">
        Department of Civil and Environmental Engineering, <br class="wide">
        School of Engineering, Tohoku University</li>
    <li>
        <b>Apr. 2014 - Sep. 2016:</b> 
        <span class="red-like">Research Fellow (DC1)</span>. <br class="wide"> 
        Japan Society for the Promotion of Science</li>
    <li>
        <b>Sep. 2016:</b> 
        <span class="red-like">Ph.D. (Information Sciences)</span>. <br class="wide">
        Department of Human-Social Information Sciences,<br class="wide"> Graduate School of Information Sciences, Tohoku University.<br class="wide">
        (Thesis supervisor: <a href="http://www.plan.civil.tohoku.ac.jp/~akamatsu/Akamatsu-E.htm">Takashi Akamatsu</a>)</li>
    <li>
        <b>Mar. 2012:</b> 
        <span class="red-like">Bachelor of Engineering</span>. <br class="wide">
        Department of Civil Engineering and Architecture, <br class="wide"> School of Engineering, Tohoku University</li>
    <li>
        <b>Mar. 2008:</b> 長野県松本深志高等学校 卒業</li>
</ul>

<hr>

<h2>Misc.</h2>

<ul class="ref-list">
<li>Born in 1990. He/his/him. Love dogs. Love hiking. Do some drawing & painting.</li>

<li>You can call me <b>Mino</b> if its easier.</li>

<li>If you are interested in presenting your work at our <a href="https://www.kier.kyoto-u.ac.jp/en/workshop_category/urban-economics/">Urban Economics Workshop</a>, please feel free to contact me.</li>

</ul>