<div id="profile">
    <div id="profile_pic-wrapper">
        <img src="/assets/img/minoru_osawa.jpg" id="profile_pic" alt="Minoru Osawa">
    </div>
    <div id="description-wrapper">
        <h1>Minoru OSAWA</h1>
        <p>Welcome! I am an assistant professor at <a href="https://www.kier.kyoto-u.ac.jp/en/">Kyoto Institute of Economic Research (KIER)</a>, Kyoto University. I explore how human behavior unfolds across space and time. Looking forward to exchanging thoughts with you.</p>
        <ul class="info">
        <li class="em"><img src="/assets/img/em.png" style="height:1.4rem; vertical-align: middle;"> <button id="cpem" class="em-button" type="button">Copy</button><noscript>This site requires JavaScript.</noscript></li>
        <li class="loc"><a href="https://maps.app.goo.gl/E2Qxmj5z11s1J57G9">Kyoto, Japan</a></li>
        <li class="twt"><a href="https://twitter.com/minoru_osawa">Twitter</a> / <a href="https://www.researchgate.net/profile/Minoru-Osawa">ResearchGate</a></li>
        <li class="lnks"><a href="https://scholar.google.co.jp/citations?user=qKxF-dkAAAAJ">Google Scholar</a> / <a href="https://orcid.org/0000-0001-9067-5375">ORCiD</a> /  <a href="https://researchmap.jp/minoru_osawa">researchmap</a></li>
        </ul>

        <script>
        const EME = "b3Nhd2EubWlub3J1LjR6QGt5b3RvLXUuYWMuanA=";
        document.getElementById("cpem").addEventListener("click", async (e) => {
            const ADDR = atob(EME);
            try {
            await navigator.clipboard.writeText(ADDR);
            e.target.textContent = "Copied!";
            setTimeout(() => { e.target.textContent = "Copy"; }, 2000);
            } catch {
            e.target.textContent = "Failed";
            setTimeout(() => { e.target.textContent = "Copy"; }, 2000);
            }
        });
        </script>
        
    </div>
</div>