  <div class="pub-thumb">
        {%- if paper.cover -%}
          <img
            src="{{ '/assets/img/journals/' | append: paper.cover | append: '-90.webp' | relative_url }}"
            srcset="{{ '/assets/img/journals/' | append: paper.cover | append: '-90.webp' | relative_url }} 1x, {{ '/assets/img/journals/' | append: paper.cover | append: '-180.webp' | relative_url }} 2x" 
            alt="{{ paper.journal }} cover image"
            width="90"
            loading="lazy"
            >
        {%- else -%}
          <div class="pub-thumb-placeholder" aria-hidden="true">
            {{ paper.journal | split: ' ' | first }}
          </div>
        {%- endif -%}
      </div>
      <div class="pub-body">
        <div class="pub-title">
          {%- if paper.url -%}
            <a href="{{ paper.url }}" class="paper-title">{{ paper.title }}</a>
          {%- else -%}
            {{ paper.title }}
          {%- endif -%}
        </div>
        <div class="pub-authors">{{ paper.author}}</div>
        <div class="pub-venue"><span class="pub-journal">{{ paper.journal }}</span>
          {%- if paper.state -%}, {{ paper.state }}{%- endif -%}
          {%- if paper.year -%}, {{ paper.year }}{%- endif -%}
        </div>
        {% if paper.pdf or paper.misclinks %}
        <div class="pub-links">
        {%- assign first_link = true -%}
        {%- if paper.pdf -%}
            <a href="{{ paper.pdf }}">PDF</a>
            {%- assign first_link = false -%}
        {%- endif -%}
        {%- if paper.misclinks -%}
            {%- for link in paper.misclinks -%}
            {%- unless first_link -%}<span class="sep">・</span>{%- endunless -%}
            <a href="{{ link.url }}">{{ link.name }}</a>
            {%- assign first_link = false -%}
            {%- endfor -%}
        {%- endif -%}
        </div>
        {% endif %}
      </div>