    <li>
        {%- if paper.url -%}
            <a href="{{ paper.url }}" class="paper-title">{{ paper.title }}</a>
        {%- else -%}
            {{ paper.title }}
        {%- endif -%}.
        <br>
        <span class="pub-journal">{{ paper.journal }}</span>
        {%- if paper.state -%}, {{ paper.state }}.{%- endif -%}
        &nbsp;({{ paper.year }})
        {%- if paper.pdf -%}
            &nbsp;[<a href="{{ paper.pdf }}">paper</a>]
        {%- endif -%}
        {%- if paper.misclinks -%}
            {%- for link in paper.misclinks -%}
            &nbsp;[<a href="{{ link.url }}">{{ link.name }}</a>]
            {%- endfor -%}
        {%- endif -%}
        {%- if paper.coauthors -%}
            <br>
            (with {{ paper.coauthors | join: ', ' }})
        {%- endif -%}
    </li>