/* === フォント定義 === */
@font-face {
    font-family: "CMU Sans Serif";
    src: url("/font/cmunss.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CMU Sans Serif";
    src: url("/font/cmunsi.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "CMU Sans Serif";
    src: url("/font/cmunsx.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "CMU Sans Serif";
    src: url("/font/cmunso.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "CMU Typewriter";
    src: url("/font/cmunvt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CMU Typewriter";
    src: url("/font/cmunvi.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}