/* === 投稿（記事）スタイル === */
$FSize-1: clamp(0.9rem, calc(0.829rem + 0.36vw), 1rem); 
$FSize-2: clamp(0.8rem, calc(0.6718rem + 0.6838vw), 1rem); 

.post-info {
  margin: 0 0 1.5em 0;
}

.post-title {
  font-size: clamp(1.3rem, 4vw, 1.8rem);
}

.post-date,
.post-misc {
  font-family:'Computer Modern Typewriter', "Noto Serif JP", sans-serif;
}

.post-misc {
  display: inline-block;
  margin-left: 1em;
}

.post-content {
    width: 100%; 
    max-width: 44rem;
    padding: 1rem 0;
    margin: 0 auto;
    border-bottom: 1px solid #eee;

    h2 {
        font-size: clamp(1.2rem, 4vw, 1.6rem);
        margin-top: 1em;
    }
    p, ul, ol {
        font-family: "Computer Modern Serif", "Noto Serif JP", sans-serif;
        text-align: justify;
        text-justify: inter-ideograph;
        strong {
            font-family: "Computer Modern Serif", "Noto Sans JP", sans-serif; 
        }
        @media (max-width: 768px) {
            max-width: 44rem;
            font-size: $FSize-1; 
        }
    }

    .mjx-math {
        @media (max-width: 768px) {
            font-size: $FSize-1; 
        } 
    } 
    .math-scroll {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 0.5em 0;
        -webkit-overflow-scrolling: touch;
        @media (max-width: 768px) {
            font-size: $FSize-1; 
        } 
    }

  .back-of-envelope {
     background: #eee; 
     font-size: 1rem;  
     margin-bottom: 1em; 

     .boe-title {
        padding: 0.2em 1em; 
        background: #ddd;
        font-family: "Computer Modern Serif", "Noto Sans JP", sans-serif;
     }
     .boe-conents {
        border-top: 1px solid #ccc;
        padding: .5em 1em; 
        font-family: "Computer Modern Serif", "Noto Serif JP", sans-serif; 
        line-height: 1.9;
     }
    
     @media (max-width: 768px) {
        font-size: $FSize-2; 

        .math-scroll, .mjx-math {
            font-size: $FSize-2; 
        }
     }
  }

  pre {
    overflow-x: auto;
    max-width: 100%;
    padding: .2rem .8rem; 
    font-size: .9rem; 
    line-height: 1.5;
    
    code { font-size: .9rem; }

    @media (max-width: 768px) {
        font-size: $FSize-1; 
    }
  }
}

.post-nav {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
  max-width: 44rem;
  padding: 1rem 0;
  margin: 0 auto;

  a {
    display: inline-block;
    padding: 0.6em 0;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .prev-post { text-align: left; }
  .to-posts-list { text-align: center; }
  .next-post { text-align: right; }
    
  @media (max-width: 768px) {
        .prev-post, .next-post { 
            font-size: $FSize-1;  
        }
  }
}