/* LaTeX colors (dvipsnames) */
:root {
    --color-Apricot: #FBB982;
    --color-Aquamarine: #00B5BE;
    --color-Bittersweet: #C04F17;
    --color-Blue: #2E2EFE;
    --color-BlueGreen: #00B3B8;
    --color-BlueViolet: #6456B7;
    --color-BrickRed: #C62D42;
    --color-Brown: #A62A2A;
    --color-BurntOrange: #FF7034;
    --color-CadetBlue: #5F9EA0;
    --color-CarnationPink: #FFA6C9;
    --color-Cerulean: #05B8CC;
    --color-CornflowerBlue: #93CCEA;
    --color-Cyan: #00FFFF;
    --color-Dandelion: #FED85D;
    --color-DarkOrchid: #9932CC;
    --color-Emerald: #50C878;
    --color-ForestGreen: #228B22;
    --color-Fuchsia: #FF00FF;
    --color-Goldenrod: #DAA520;
    --color-Gray: #808080;
    --color-Green: #00FF00;
    --color-GreenYellow: #ADFF2F;
    --color-JungleGreen: #29AB87;
    --color-Lavender: #E6E6FA;
    --color-LimeGreen: #32CD32;
    --color-Magenta: #FF00FF;
    --color-Mahogany: #C04000;
    --color-Maroon: #800000;
    --color-Melon: #FEBAAD;
    --color-MidnightBlue: #191970;
    --color-Mulberry: #C54B8C;
    --color-NavyBlue: #000080;
    --color-OliveGreen: #808000;
    --color-Orange: #FFA500;
    --color-OrangeRed: #FF4500;
    --color-Orchid: #DA70D6;
    --color-Peach: #FFDAB9;
    --color-Periwinkle: #CCCCFF;
    --color-PineGreen: #01796F;
    --color-Pink: #FFC0CB;
    --color-Plum: #DDA0DD;
    --color-ProcessBlue: #00B0F0;
    --color-Purple: #800080;
    --color-RawSienna: #D68A59;
    --color-Red: #FF0000;
    --color-RedOrange: #FF5349;
    --color-RedViolet: #C71585;
    --color-Rhodamine: #E10098;
    --color-RoyalBlue: #4169E1;
    --color-RoyalPurple: #7851A9;
    --color-RubineRed: #D10056;
    --color-Salmon: #FA8072;
    --color-SeaGreen: #2E8B57;
    --color-Sepia: #704214;
    --color-SkyBlue: #87CEEB;
    --color-SpringGreen: #00FF7F;
    --color-Tan: #D2B48C;
    --color-Teal: #008080;
    --color-TealBlue: #367588;
    --color-Thistle: #D8BFD8;
    --color-Turquoise: #40E0D0;
    --color-Violet: #8F00FF;
    --color-VioletRed: #F7468A;
    --color-WildStrawberry: #FF43A4;
    --color-Yellow: #FFFF00;
    --color-YellowGreen: #9ACD32;
    --color-YellowOrange: #FFAE42;
}
