/* === 投稿（記事）スタイル === */
.post-info {
    margin: 0 0 1.5em 0;
}

.post-title {
    font-size: clamp(1.3rem, 4vw, 1.8rem);
}
.post-date, .post-misc {
    font-weight: bold; 
    color: var(--color-MidnightBlue);
}

.post-misc {
    display: inline-block;
    margin-left: 1em;
}

.post-content {
    max-width: 44rem;
    padding: 1rem 0;
    margin: 0;
    border-bottom: 1px solid #eee;
}

.post-content p {
    font-family: "CMU Serif", "Noto Serif JP", sans-serif;
    text-align: justify;
    text-justify: inter-ideograph;
}

.post-nav {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    max-width: 44rem;
    padding: 1rem 0;
}

.post-nav a {
    display: inline-block;
    padding: 0.6em 0em;
    text-decoration: none;
}

.post-nav a:hover {
    text-decoration: underline;
}

.prev-post {
    text-align: left;
}

.next-post {
    text-align: right;
}