$FSize-2: clamp(0.8rem, calc(0.7rem + 0.3vw), 0.9rem);
$FSize-1: clamp(0.9rem, calc(0.8rem + 0.4vw), 1rem);
$Base:    clamp(1rem, calc(0.9rem + 0.5vw), 1.125rem);
$FSize-3: clamp(1.125rem, calc(1rem + 0.6vw), 1.25rem);
