/* === ユーティリティ === */
.red-like {
  color: $color-benitobi;
}

.note,
.note a {
  color: #777;
}

.duration {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .sep::before {
    color: #bbb;
  }
}

.lozenge-row::before {
  content: "*  　*  　*";
  display: block;
  text-align: center;
}