/* === ユーティリティ === */
<<<<<<< HEAD
.duration {
  font-weight:bold;
  color: $color-koinezu; 
}

.position {
  font-weight: bold; 
  color: $color-koinezu; 
=======
.red-like {
  color: $color-benitobi;
>>>>>>> card-pubs
}

.note,
.note a {
  color: #777;
}

@media (prefers-color-scheme: dark) {
  .sep::before {
    color: #bbb;
  }
}

.lozenge-row::before {
  content: "*  　*  　*";
  display: block;
  text-align: center;
}