/* === ナビゲーション === */
.site-nav {
  font-family: "Computer Modern Sans Serif", "Noto Sans JP", sans-serif;
  border-top: 4px solid $color-konpeki;

  a {
    text-decoration: none;
    color: #999;
    font-weight: bold;

    &.active {
      color: #000;
      text-decoration: underline;
    }
  }

  .site-title a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: baseline;
      font-size: 1.3em;

      + li::before {
        content: "\30FB";
        display: inline-block;
        margin: 0 0.5rem;
        background-size: contain;
        vertical-align: middle;
        background-repeat: no-repeat;
        color: #999;
      }
    }

    a:hover {
      color: $color-konpeki;
    }
  }

  @media (max-width: 600px) {
    .nav-container {
      padding: 0.8rem 1rem 0.5rem 1rem;
      align-items: flex-start;
      background-color: #f0f0f0;
      border-bottom: 1px solid #ddd;
    }

    .site-title,
    ul li {
      font-size: 1.1rem;
    }

    ul {
      display: block;
      text-align: left;

      li {
        display: block;
        margin-bottom: 0.3em;

        + li::before {
          content: none;
        }
      }
    }
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2em 0;
  padding: 0.83em 2.5rem;
}

.site-title {
  font-size: 1.5em;
}

br.wide {
  @media (max-width: 600px) {
    display: none;
  }
}
