/* === プロフィール === */
#profile {
  display: flex;
  gap: 2em;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1em 0 2em 0;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

#profile_pic-wrapper {
  flex-shrink: 0;

  @media (max-width: 768px) {
    text-align: center;
    margin-bottom: 1em;
  }
}

#profile_pic {
  width: 18rem;
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ddd;

  @media (max-width: 768px) {
    width: clamp(13rem, calc(10.857rem + 10.71vw), 18rem);
    height: auto;
  }
}

#description-wrapper {
  flex: 1;
  max-width: 800px;

  h1 {
    margin: 0;
    line-height: 1;
    margin-bottom: 0.5em;
    font-family: "Computer Modern Serif", serif;
    font-weight: bold;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    text-align: left;
    width: 100%;
  }
}

.info {
  list-style: none;
  padding-left: .5rem;
  line-height: 1.8;

  .em-button {
    padding: .1rem .5rem;
    width: 4rem;
    text-align:center;
    background: #fff;
    border-radius: .1rem;
    border: 1px solid #aaa;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    font-family: "Computer Modern Sans Serif", sans-serif; 

    &:hover {
        background: #fcfcfc; 
        color: $color-konpeki;
        border: 1px solid $color-konpeki;
    }
  }

  @media (max-width: 768px) {
    padding-left: 0;

    li {
      text-align: left;
    }
  }
}

.em::before,
.loc::before,
.twt::before,
.lnks::before ,
.doc::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin: 0 0.6em 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.em::before {
  background-image: url("/assets/img/mail.png");
}

.loc::before {
  background-image: url("/assets/img/mappin.png");
}

.twt::before {
  background-image: url("/assets/img/twitter.png");
}

.lnks::before {
  background-image: url("/assets/img/link.png");
}

.doc::before {
  background-image: url("/assets/img/doc.png");
}

.inline-abstract {
  display: inline;

  @media (max-width: 768px) {
    display: none;
  }

  summary {
    display: inline-block;
    margin-left: 0.5em;
    text-decoration: underline;
    cursor: pointer;

    &::marker {
      content: none;
    }
  }

  div {
    display: block;
    margin-top: 0.5rem;
    padding: 0.3rem 1.5rem;
    max-width: 45em;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .abstract-text {
    font-family: "Computer Modern Serif", serif;
  }

  .abstract-close {
    float: right;
    background: #eee;
    padding: 0 0.5em;
    color: #444;
  }
}
