---
layout: default
--- 

<div class="post-container">
    <div class="post-content">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-info">
            <time class="post-date">{{ page.date | date: "%B %-d (%a), %Y" }}</time>{% if page.misc %}<span class="post-misc">{{ page.misc }}</span>{% endif %}
        </div>
        {{ content }}
    </div>
    <div class="post-nav">
        {% if page.previous %}
        <a class="prev-post" href="{{ page.previous.url }}">
            ← 前{% if page.previous.running_head %}：{{ page.previous.running_head }}{% endif %}
        </a>
        {% else %}
        <span class="prev-post"></span>
        {% endif %}

        {% if page.next %}
        <a class="next-post" href="{{ page.next.url }}">
            次{% if page.next.running_head %}：{{ page.next.running_head }}{% endif %} →
        </a>
        {% else %}
        <span class="next-post"></span>
        {% endif %}
    </div>
    <div class="post-footer">
        <p><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-via="minoru_osawa" data-show-count="false">𝕏でシェア<b></b></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> | 
            <a href="https://github.com/{{ site.github.user }}/{{ site.github.repo }}/issues/new?title={{ page.title | url_encode }}&body=対象記事：{{ site.url }}{{ page.url | url_encode }}" target="_blank">
                この投稿について誤り等を報告（要 GitHub アカウント）
            </a>
        </p>
    </div>
</div>
