<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Minoru Osawa">
    <meta name="description" lang="en" content="Minoru Osawa (大澤 実) is an assistant professor at Kyoto Institute of Economic Research (KIER), Kyoto University, Japan.">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HCEG8X3DQT"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-HCEG8X3DQT');
    </script>
    <script src="/assets/js/utils.js"></script>
</head>
<body>
    <div class="page-wrapper">
    {% include header.html %}
    <main class="page-content">
        <div class="post-container">
            <div class="post_content">
                <h1>{{ page.title }}</h1>
                <div class="post_info">
                    <time class="post_date">{{ page.date | date: "%B %-d (%a), %Y" }}</time>{% if page.misc %}<span class="post_misc">{{ page.misc }}</span>{% endif %}
                </div>
                {{ content }}
            </div>
            <div class="post-nav">
                {% if page.previous %}
                <a class="prev-post" href="{{ page.previous.url }}">
                    ← 前の記事{% if page.previous.running_head %}：{{ page.previous.running_head }}{% endif %}
                </a>
                {% endif %}
            
                {% if page.next %}
                <a class="next-post" href="{{ page.next.url }}">
                    次の記事{% if page.next.running_head %}：{{ page.next.running_head }}{% endif %} →
                </a>
                {% endif %}
            </div>
        </div>
    </main>
    {% include footer.html %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script>
</body>
</html>