/* === ベーススタイル === */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 20rem;
}

body {
  font-family: "Computer Modern Sans Serif", sans-serif;
  font-size: clamp(1rem, calc(1.2vw + 0.9rem), 1.125rem);
  color: #111;
}

main {
  margin-bottom: 2em;
}

/* === タイポグラフィ・文書構造 === */
h1,
h2,
h3 {
  font-family: "Computer Modern Sans Serif", "Noto Sans JP", sans-serif;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 0;
}

.ref-list {
  line-height: 1.5;
  padding-left: 1.2em;

  li {
    margin-bottom: 0.8em;
    
    a {
        text-underline-offset: 2px;     /* 間隔の調整 */
        text-decoration-color: #ccc; /* 下線のみ赤に */

        &:hover {
            text-decoration-color: $color-konpeki;
        }
    }
  }

  .ref-prev {
    line-height: 1.2;

    li {
      margin: 0;
    }
  }
}

ul, ol {
    padding-left: 1.5em;
}

ol li a {
  display: inline-block;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  height: 0;
  margin: 1.5em 0;
}

a {
  color: #000;
  font-weight: 500;

  &[href*="pdf/"],
  &[href*="drive.google.com"],
  &[href*="draft/"] {
    color: $color-konpeki;
    font-weight: bold;
  }

  &[href$=".pdf"]:not(.ref-list a[href$=".pdf"]) {
    color: $color-konpeki;
  }

  &:hover {
    color: $color-konpeki; 
  }
}

p {
  line-height: 1.8;
  margin-top: 0.3em;
}
